[Desktop Entry]
Name=smart-cabinet
Exec=bash /opt/smart-cabinet/run.sh
Terminal=false
Type=Application
Icon=smart-cabinet
StartupWMClass=smart-cabinet
Comment=智能载体管控系统
Categories=Utility;
