# Ignore artifacts:
build/
coverage/
dist/
release/
libs/
resources/
scripts/
template/

# Ignore all dotfiles:
.*

# Ignore specific files:
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
