{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./src/main",
    "paths": {
      "@/*": ["./*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2018"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "minify": false
}
