@font-face {
  font-family: "iconfont"; /* Project id 3951472 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1687657989733') format('woff2'),
       url('iconfont.woff?t=1687657989733') format('woff'),
       url('iconfont.ttf?t=1687657989733') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-record:before {
  content: "\f4b9";
}

.icon-zhiwen:before {
  content: "\e608";
}

.icon-activate:before {
  content: "\e618";
}

.icon-jiesuo:before {
  content: "\e602";
}

.icon-warn:before {
  content: "\e629";
}

.icon-chenggong:before {
  content: "\e644";
}

.icon-menu:before {
  content: "\e601";
}

.icon-user:before {
  content: "\e660";
}

.icon-lock:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e613";
}

.icon-network:before {
  content: "\e62b";
}

.icon-double_door:before {
  content: "\e6ae";
}

.icon-door:before {
  content: "\e60c";
}

.icon-card:before {
  content: "\e74b";
}

.icon-RFID:before {
  content: "\e8df";
}

