img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: initial;
}

button {
  outline: none;
}

/* lcd字体 */
@font-face {
  font-family: 'LCDFont';
  src: url('../fonts/ds-digi-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
    /*IE6-IE8 */
    url('../fonts/ds-digi-webfont.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ds-digi-webfont.ttf') format('truetype');
}

/* 思源黑体字体 */
@font-face {
  font-family: 'source-han-sans';
  src: url('../fonts/SourceHanSansCN-VF.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: source-han-sans !important;
  @apply text-gray-9 m-0 p-0;
}

#app {
  @apply h-screen text-normal select-none;
}

.card {
  padding: 24px;
  border-radius: 30px;
  background: rgba(250, 250, 250, 0.2);
  box-shadow: 15px 15px 24px #bebebe, -8px -8px 24px #f0f0f0;
}

.mask {
  @apply bg-gray-8 bg-opacity-30;
}

.icon-button {
  @apply text-light text-[32px];
}

.wrap-padding {
  @apply px-[80px] py-[60px] box-border;
}

.ant-form-item-label>label {
  @apply !text-light  !text-normal;
}

/* 修改 Modal 的样式 */
.ant-modal {
  @apply text-light;
}

.ant-modal-content {
  @apply !bg-gray-8 !bg-opacity-30 !text-light;
  backdrop-filter: blur(8px) !important;
  box-shadow: 0px -1px 2px -2px rgba(250, 250, 250, 0.2), 0px -3px 6px 0px rgba(250, 250, 250, 0.2),
    0px -5px 12px 4px rgba(250, 250, 250, 0.2) !important;
}

.ant-modal-header {
  @apply !bg-transparent !border-none !text-light;
}

.ant-modal-close-icon {
  @apply !text-light;
}

.ant-modal-title {
  @apply !text-light;
}

.ant-modal-footer {
  @apply !bg-transparent !border-none;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  @apply !text-light;
}
/* End */

/* 修改 Tabs 的样式 */
.ant-tabs {
  @apply text-light text-normal;
}

.ant-tabs-tab {
  @apply text-normal;
}

.ant-tabs-tab+.ant-tabs-tab {
  margin-left: 48px;
}

.ant-tabs-top>.ant-tabs-nav:before {
  border-bottom: 1px solid transparent;
}

.ant-tabs-top>.ant-tabs-nav {
  margin: 0;
}

.ant-tabs-tab:hover {
  @apply text-light;
}

.ant-tabs-ink-bar {
  @apply bg-light;
}

.ant-tabs-tab-btn:active {
  @apply text-light;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply text-light;
}
/* End */

.ant-pagination{
  @apply text-normal;
}
.ant-modal-title,.ant-modal-body {
  @apply text-normal;
}
.ant-drawer-body {
  @apply text-normal;
}
.ant-table {
  @apply text-small
}


/* transition 组件的动画样式 */
.v-enter-active {
  animation: fadeIn 0.15s;
}

.v-leave-active {
  animation: fadeOut 0.15s;
}
/* End */

.ant-modal-confirm-title {
  @apply !text-light;
}
